{% load static %}

<html>
<title>Tracks</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{% static 'icon/favicon.jpg' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/common.css' %}" type="text/css">
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/all.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>

<body class="common-background">
    <nav class="navbar navbar-expand-lg navbar-dark bg-info  fixed-top">
        <a class="navbar-brand ml-5 mr-5" href="/">Aleph</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link ml-4" href="/topten">Top 10</a></li>
            <li class="nav-item"><a class="nav-link ml-4 active" href="/tracks">Tracks</a></li>
            <li class="nav-item"><a class="nav-link ml-4" href="/artists">Artists</a></li>
            <li class="nav-item"><a class="nav-link ml-4" href="/albums">Albums</a></li>
            <li class="nav-item"><a class="nav-link ml-4" href="/genres">Genres</a></li>
            <li class="nav-item"><a class="nav-link ml-4" href="https://rithikbanerjee.github.io/Responsive-Resume">About Aleph</a></li>
            <li class="nav-item"><a class="nav-link ml-4" href="/contact">Contact Aleph</a></li>
        </ul>
        <div class="form-inline mr-5">
            <input class="form-control btn-outline-dark rounded-pill mr-5" type="search" placeholder="Explore">
        </div>
        <button class="btn btn-outline-dark rounded-pill mr-5" onclick="location.href='/contribute'">Contribute</button>
    </nav>

<div class="container">

  <div class="modal fade" name="modal" data-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content bg-dark text-light"></div>
    </div>
  </div>

  <div class="card border-0 shadow my-5 mx-5" style="background-color: rgba(245, 245, 245, 0.7);">
    <div class="card-body">
        <div class="alert bg-dark alert-dismissible collapse">
            <span class="h5 font-weight-light text-light"></span>
        </div>
    <div class="p-5">
        <h1 class="font-weight-light" name="type">Explore Tracks</h1>
        <div class="row" name="extra">
            <div class="col-sm-4 lead mt-1 font-weight-normal"> Couldn't find your track? Find: </div>
            <input class="col-sm-5 form-control rounded-pill mr-5 shadow" type="search" placeholder="Find track" name="find">
            <button class="col-sm-2 btn btn-outline-dark rounded-pill my-2 my-sm-0 shadow" onclick="location.href='/contribute'">Contribute Tracks</button>
        </div>
    </div>
    </div>
  </div>
  <div class="card border-0 shadow" style="background-color: rgba(245, 245, 245, 0.7);">
    <div class="card-body p-5">
        <div class="row w-100 mb-3"></div>
        <div name="tracks"></div>
        <div class="row-col mt-5 text-center">
            <a href="#"><i class="fab fa-twitter text-info"></i></a>
            <a href="#"><i class="fab fa-github-alt text-info"></i></a>
            <a href="#"><i class="fab fa-instagram text-info"></i></a>
        </div>
        <div class="row-col text-center">© 2020 Aleph. All rights reserved.</div>
    </div>
  </div>
</div>
</body>
<script>
    $(document).ready(function(){
        let tracks = {{ tracks|safe }};
        let type = {{ type|safe }};
        if(type['name'] !== 'all'){
            $('[name=type]').html(type['name']);
            $('[name=extra]').html(`<p class="col lead font-weight-normal">${tracks.length} tracks found</p>`);
        }
        $('[name=tracks]').setTracks(tracks);
        $('[name=find]').on('input',function(){
            $('[name=tracks]').setTracks(tracks.filter(x=>x.name.toLowerCase().includes($('[name=find]').val().toLowerCase())));
        })
    })
    $.fn.setTracks = function(library){
       let trackRow = '';
       let baseURL = '{% static 'songs/' %}';
       $.each(library, function(key, value){
           trackRow = `${trackRow}<div class='row text-white rounded bg-info mx-auto p-2 mb-1'><div class='col-sm-3'><div class='h5 font-weight-light align-auto' name='track'>${value.name}</div><a class='h6 text-dark font-weight-normal' href='/tracks?artist=${value.artist}'>${value.artist}</a></div><div class='col-sm-3 align-auto'><button onclick="location.href='/tracks?album=${value.album}'" class='btn-outline-dark rounded mt-1 shadow'>${value.album}</button></div><div class='col-sm-4 align-auto'><audio controls controlsList='nodownload'><source type='audio/mpeg' src='${baseURL}${value.filename}'></audio></div><div class='col-sm-2 font-weight-light align-auto'><a href='${baseURL}${value.filename}' download='${value.filename}'><button class='btn-outline-dark rounded shadow'><i class='fa fa-download'></i></button></a><button class='btn-outline-dark rounded shadow ml-4' name='rate'>${value.rating}/10<i class='fa as fa-poll ml-2'></i></button></div></div>`;
       })
       this.html(trackRow);
       $('[name=rate]').modalRate();
    }
</script>
</html>
